<div nz-row [nzGutter]="[8,8]">
    <div nz-col nzSpan="24">
      <nz-select
          [formControl]="periodoLectivoCtrl"
          [nzLoading]="periodoLectivoFacade.loading()"
          (nzScrollToBottom)="periodoLectivoFacade.loadNextPage()"
          style="width: 100%"
          nzPlaceHolder="Periodo Lectivo..."
          nzAllowClear>
          @for (pl of periodoLectivoFacade.periodoLectivoList(); track pl.id) {
            <nz-option [nzValue]="pl.id" [nzLabel]="pl.descripcion"></nz-option>
          }
        </nz-select>
      </div>
  </div>
