<div nz-row [nzGutter]="[8,8]">
  <div nz-col nzSpan="24">
    <div nz-row [nzGutter]="[8,8]">
      <div nz-col nzFlex="auto">
        <div nz-flex nzGap="small">
          <button nz-button>
            <nz-icon nzType="file-excel" nzTheme="outline" />
            Exportar
          </button>
        </div>
      </div>
      <div nz-col>
        <nz-select
          [formControl]="periodoLectivoCtrl"
          [nzLoading]="periodoLectivoFacade.loading()"
          (nzScrollToBottom)="periodoLectivoFacade.loadNextPage()"
          style="width: 250px"
          nzPlaceHolder="Periodo Lectivo...">
          @for (pl of periodoLectivoFacade.periodoLectivoList(); track pl.id) {
            <nz-option [nzValue]="pl.id" [nzLabel]="pl.descripcion"></nz-option>
          }
        </nz-select>
      </div>
    </div>

  </div>
  <div nz-col nzSpan="24">
    <nz-table
      #tablaEvaluaciones
      [nzData]="evaluacionGeneralFacade.evaluacionGeneralDocenteList()"
      [nzLoading]="evaluacionGeneralFacade.loading()"
      nzSize="small">
      <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th>Docente</th>
        <th>Código</th>
        <th>Materia</th>
        <th>Tipo Docente</th>
        <th>Puntaje</th>
      </tr>
      </thead>
      <tbody>
        @for (evaluacion of tablaEvaluaciones.data; track evaluacion.uuid) {
          <tr>
            <td [nzExpand]="isExpanded(evaluacion.uuid)()" (nzExpandChange)="onExpandChange(evaluacion.uuid, $event)"></td>
            <td>{{ evaluacion.docente }}</td>
            <td>{{ evaluacion.codigoMateria }}</td>
            <td>{{ evaluacion.materia }}</td>
            <td>{{ evaluacion.tipoDocente }}</td>
            <td>{{ evaluacion.promedioGeneral }}</td>
          </tr>
          <tr [nzExpand]="isExpanded(evaluacion.uuid)()">
            <nz-table
              #tablaDetalles
              nzSize="small"
              [nzData]="findDetallesEvaluacion(evaluacion.uuid)()">
              <tbody>
                @for (detalle of tablaDetalles.data; track detalle.uuid){
                  <tr>
                    <td>{{ detalle.estamento }}</td>
                    <td>{{ detalle.peso }}</td>
                    <td>{{ detalle.promedioPonderado }}</td>
                  </tr>
                }
              </tbody>
            </nz-table>
          </tr>
        }

      </tbody>
    </nz-table>
  </div>
</div>


