
<div nz-row [nzGutter]="[8,8]">
  <div nz-col nzSpan="24">
    <nz-table
      #tablaEvaluaciones
      [nzData]="evaluacionGeneralFacade.evaluacionGeneralDocenteList()"
      [nzLoading]="evaluacionGeneralFacade.loading()"
      nzSize="small">
      <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzSortOrder="ascend" [nzSortFn]="sortCodigoDocenteFn">Cód. Docente</th>
        <th [nzSortFn]="sortNombresFn">Nombres</th>
        <th [nzSortFn]="sortApellidosFn">Apellidos</th>
        <th>CI</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (docente of tablaEvaluaciones.data; track docente.idDocente) {
          <tr>
            <td [nzExpand]="isExpanded(docente.idDocente)()" (nzExpandChange)="onExpandChange(docente.idDocente, $event)"></td>
            <td>{{ docente.idDocente }}</td>
            <td>{{ docente.nombres }}</td>
            <td>{{ docente.apellidos }}</td>
            <td nzAlign="right">{{ docente.ci | number }}</td>
            <td nzAlign="center">
              <button nz-button [routerLink]="[evaluacionGeneralFacade.idPeriodo(), 'docentes', docente.idDocente]">
                <nz-icon nzType="eye" nzTheme="outline"></nz-icon>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="isExpanded(docente.idDocente)()">
            <nz-table
              #tablaDetalles
              nzSize="small"
              [nzData]="docente.puntajes"
              nzShowPagination="false">
              <thead>
                <tr>
                  <th>Cód. Materia</th>
                  <th>Materia</th>
                  <th>Tipo. Docente</th>
                  <th>Puntaje</th>
                </tr>
              </thead>
              <tbody>
                @for (detalle of tablaDetalles.data; track $index){
                  <tr>
                    <td>{{ detalle.materia.codigo }}</td>
                    <td>{{ detalle.materia.descripcion }}</td>
                    <td>{{ detalle.tipoDocente.descripcion }}</td>
                    <td>{{ detalle.promedioGeneral }}</td>
                  </tr>
                }
              </tbody>
            </nz-table>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>

